.name{
   float: left;

}


.about{
    margin-top:50px;
    color: black;   
    width:200px;
    padding: 10px;
    border: 5px outset;
    background-color: rgb(156, 224, 88);
   }
.navigate  {
   text-align:left;
   font-size: 20px ;
   background-color: black;
   padding: 12px 5px;
}
.navigate a{
   color: aliceblue;
   text-decoration:none;
   padding:10px ;
}
.navigate a:hover{

   color:aqua;
}
.nium {
   border:50px;
   float:right;
}